<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <h1>File analysis: {{ file.file.name }}</h1>
    <p>Rows: {{ file.rows }}, Columns {{ file.columns }}</p>

    <h2>Data view</h2>
    <div>
        {{ head_html|safe }}
    </div>

    <h2>Descriptive statistics</h2>
    <div>
        {{ stats_html|safe }}
    </div>

    <h2>Charts</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Generate charts</button>
    </form>

    {% if plots %}
        <h2>Generated charts</h2>
        {% for plot in plots %}
            <div class="plot">
                {{ plot|safe }}
            </div>
        {% endfor %}
    {% endif %}

    <br><a href="/" class="btn btn-secondary">Return</a>
{% endblock %}